/** === Tailwind Components*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/** === ROOT === */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/** ==== Styles CSS  ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 0;
}

html {
  font-size: 62.5%;
}
body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-decoration: pretty;
}
a {
  text-decoration: none;
}
a:has(> img) {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
ul {
  list-style: none;
}
p, span {
  letter-spacing: 0.1rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

hr {
  width: 100%;
}

/** ===== Schema Colors ===== */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/** ====== @Layer Components ====== */
