/** ==== Media Queries ==== */
/*! ==== Mobile */
@media (width >= 320px) {}
@media (width >= 375px) {}
@media (width >= 425px) {}
@media (width >= 640px) {}

/*! ==== Tablet */
@media (width <= 768px) {
  #idSlider {
    top: 75%;
  }
  #idContent {
    left: -350px; /* -50px- */
    width: 35rem;
    top: -20rem;
    padding: 2rem;
    /* border: 2px solid red; */
  }
  #idItem {
    width: 15rem;
    height: 20rem;
  }
  .slider .item:nth-child(1),
  .slider .item:nth-child(2) {
    top: 0;
    left: 0;
  /*  transform: translate(0, 0);
    border-radius: 5px; */
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   #idAction {
     background-color: #44AFF2;
     color: #f2f2f2;
   }
   #idDescription {
    font-size: 1.4rem;
    font-weight: 500;
    filter: brightness(0.5);
   }

}

/*! ==== Screen PC */
@media (width <= 1024px) {}
@media (width <= 1280px) {}

/*! ==== Screen (aLL) */
@media (width <= 1536px) {}
